.container {
    width: 1280px;
    margin: 0 auto;
}

.title {
    padding: 63px 0 40px;
    color: #000000;


}

.title-link {
    text-decoration: none;
    font-size: 80px;
    line-height: 94px;
}

.title-logo {
    color: #4BCAFF;
}

.nav {
    background: #35444F;
}

.menu {
    display: flex;
    justify-content: center;
    height: 72px;
    align-items: center;
    text-decoration: none;
    margin-bottom: 49px;
}

.menu-item {
    text-decoration: none;
    color: white;
    padding: 22px 40px;
    border-left: 1px solid #FFFFFF;
    font-size: 24px;
    line-height: 28px;
}

.menu-item:hover {
    background: #222F3A;

}

.left-menu {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    width: 344px;
}

.left-menu-list {
    padding: 26px 44px;

}

.left-menu-list:hover {
    background: #DBDBDB;
    padding-left: 64px;
    transition: 0.5s;
}


.left-menu-link {
    text-decoration: none;
    color: #485863;
    font-size: 27px;
}

.section {
    display: flex;
    gap: 52px;
    margin-bottom: 54px;
}

.wrapper-img {
    border: 1px solid #000000;
    width: 100%;
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;;
}

.wrapper-img-logo:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;;
    margin-bottom: 34px;
}

.text-eng {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer {
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    align-items: center;
    height: 69px;
    justify-content: space-around;

}

.menu-bottom {
    display: flex;
    width: 875px;
    justify-content: space-between;
}

.menu-bottom-item {
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    border-bottom: 1px solid transparent;
    padding: 10px 0 10px 0
}

.menu-bottom-item:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 10px;
}

.copyright {
    font-size: 24px;
    line-height: 24px;
    color: #010101;

}