body {
    background-image: url("background 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 46px 0 17px 0;
}

.logo-img {
    display: flex;
    text-decoration: none;
    gap: 8px;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #FFFFFF;
    font-weight: 700;
}

.header-text-title {
    font-size: 29px
}

.header-text-subtitle {
    font-size: 18px;
}

.header-info {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.header-info-text {
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.3s;
}

.header-info-text:hover {
    color: #F26522;
}

.logo-img:hover .header-logo-image {
    content: url("../image/logo-orange.png");
}

.logo-img:hover .header-text {
    color: #F26522;
}

.container {
    width: 1030px;
    margin: 0 auto;
}

.logo {
    display: flex;
    margin: 51px 161px;

}

.table {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 260px);
    column-gap: 67px;
    row-gap: 37px;
    margin-bottom: 50px;
}

.content {
    display: grid;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.copyright {
    text-align: center;
    color: #FFFFFF;
}

.content-hover {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 55px;
    justify-content: space-between;
    background: #F26522;
    padding: 11px 16px 12px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 0;
    opacity: 0;
}

.content-hover-from {
    display: grid;
    gap: 10px;
}

.from {
    font-size: 10px;
    color: #FFFFFF
}

.price {
    font-size: 20px;
    color: #FFFFFF;
}

.details {
    font-size: 14px;
    color: #FFFFFF;
    position: relative;
    padding-right: 20px;
    align-self: end;
}

.details::after {
    content: '\203A';
    position: absolute;
    font-size: 31px;
    bottom: 5px;
    right: 0;
    height: 20px;
}

.content-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}

.content-image {
    position: relative;
}

.content-title {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.content:hover .content-hover {
    opacity: 1;
    max-height: 55px;
    transition: 0.3s;
}

.content:hover .content-link {
    color: #F26522;
    transition: 0.3s;
}

img {
    width: 100%;
    height: 100%;
}

