body {
    background-image: url("../image/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
}

.header {
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 79px 0 79px;
    margin-bottom: 54px;
}

.header-title {
    font-weight: 700;
    font-size: 22px;
}

.header-title-text {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 22px;
    padding-left: 79px;
}

.header-title-text:hover {
    color: #236c47;
    transition: 0.3s;
}

.svg:hover .svg-calendar {
    fill: #236c47;
    transition: 0.3s;
}

.svg:hover .svg-compas {
    fill: #236c47;
    transition: 0.3s;
}

.svg:hover .svg-convert {
    fill: #236c47;
    transition: 0.3s;
}

.link {
    display: flex;
    align-items: center;
}

.link-icon {
    display: flex;
    gap: 24px;
    margin-right: 23px;
}

.login {
    display: flex;
    align-items: center;
    border-left: 1px solid #969696;
    height: 19px;
    justify-content: center;
}

.login-text {
    color: #FFFFFF;
    font-size: 14px;
    margin-left: 27px;
}

.login-link {
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
}

.login:hover .login-text {
    color: #969696;
    transition: 0.3s;
}

.login:hover .login-link {
    color: #236c47;
    transition: 0.3s;
}

.sing-up {
    width: 444px;
    height: 584px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: relative;
    padding-top: 31px;
}

.sing-up::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    left: 0;
    top: 29px;
}

.container {
    width: 324px;
    margin: 0 auto;
}

.sing-up-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.sing-up-subtitle {
    font-size: 20px;
}

.sing-up-login {
    font-size: 14px;
    color: #3CB878;
}

.sing-up-login:hover {
    color: #01813F;
    text-decoration: underline;
    cursor: pointer;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.buttom-facebook {
    width: 160px;
    height: 48px;
    background: #305DB8;
    border-radius: 4px;
    position: relative;
}

.buttom-facebook:hover {
    background: #022263;
    transition: 0.3s;
}

.bottom-facebook-text {
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 17px 22px 17px 67px;
    display: inline-block;
    position: relative;
}

.bottom-facebook-text::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    background: #0A162F;
    left: 48px;
    top: 10px;
    opacity: 0.1;
}

.bottom-facebook-img {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;
}

.buttom-google {
    width: 160px;
    height: 48px;
    background: #DF4A32;
    border-radius: 4px;
    position: relative;
}

.buttom-google:hover {
    background: #AB1F09;
    transition: 0.3s;
}

.buttom-google-text {
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 17px 26px 17px 78px;
    display: inline-block;
    position: relative;
}

.buttom-google-text::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    background: #2B0D09;
    left: 48px;
    top: 11px;
    opacity: 0.1;
}

.buttom-google-img {
    content: "";
    position: absolute;
    bottom: 16px;
    left: 10px;
}

.or {
    margin-bottom: 12px;
}

.or-text {
    position: relative;
    font-size: 14px;
    color: #848484;
    text-align: center;
}

.or-text::before {
    content: "";
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    top: 50%;
    right: 0;
}

.or-text::after {
    content: "";
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    top: 50%;
    left: 0;
}

.input {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.input-form {
    padding: 15px 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.input-form:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}

::placeholder {
    color: #BEBEBE;
}

.agree {
    display: flex;
    align-items: center;
}

.agree-text {
    color: #434343;
    font-size: 14px;
    margin-left: 8px;

}

.agree-link {
    color: #3CB878;
    text-decoration: none;
    font-size: 14px;
}

.agree-link:hover {
    color: #01813F;
    transition: 0.3s;
    text-decoration: underline;
}

.input-form-submit {
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.input-form-submit:hover {
    background: #01813F;
    transition: 0.3s;
}