.background {
    background: #171717;
}

.container {
    width: 1460px;
    margin: 0 auto;
}

.logo {
    display: flex;
    justify-content: space-between;
    margin: 37px 0 128px;
}

.logo-icon {
    width: 216px;
    height: 33px;
}

.callback {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid #E4B564;
    padding: 0 25px 0 25px;
    gap: 10px;
}

.callback-text {
    text-decoration: none;
    color: #E4B564;
}

.work-list {
    display: flex;
    flex-direction: column;
}

.work-list-title {
    width: 599px;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 41px;
}

.work-list-subtitle {
    width: 1182px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 41px;
}

.work-list-items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows:  468px 468px;
    justify-content: center;
}

.info-items-4-5 {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 715px);
}

.item-1 {
    background: #634F2C;;
}

.item-2 {
    background: #B4A385;
}

.item-3 {
    background: #E4B564;
}

.item-4 {
    background: #635A4A;
}

.item-5 {
    background: #B08C4D;
}

.grid-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding: 0 44px 0 44px;
}

.park-subtitle{
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 161px 0 94px;
}
.park-items{
    max-height: 900px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 191px;
}
.park-item{
    width: 467px;
    padding: 52px 0 0 44px;
    list-style-type: none;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 25px;
    box-sizing: border-box;
}
.park-item-kamaz{
    background: #0E0E0E;
    height: 313px;
    font-weight: 600;


}
.park-item-kamaz-text{
    font-weight:400;
}
.park-item-loader{
    height: 560px;
    background: #1F1F1F;
    font-weight: 500;
}
.park-item-kamaz-second{
    height: 439px;
    background: #242424;
    font-weight: 600;
}
.park-item-shovel{
    height: 405px;
    background: #E4B564;
    font-weight: 500;
    color: black;
}
.park-item-shovel-loader{
    height: 255px;
    background: #1F1F1F;
    font-weight: 500;
}
.park-item-kamaz-third{
    height: 313px;
    background: #0E0E0E;
    font-weight: 500;
}
.park-item-katok{
    height: 277px;
    background: #0A0909;
    font-weight: 700;
}

.client-background {
    background: #0E0E0E;
}
.client-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 172px 0 72px;
}
.client-info-btn{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    border: 1px solid #E4B564;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-info-subtitle {
    display: flex;
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
}

.client-block {
    display: grid;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(2, 391px);
    justify-content: center;
    margin-bottom: 238px;
}

.client-item1 {
    background: #634F2C;
}

.client-item2 {
    background: rgba(232, 210, 171, 0.76);
}

.mavis-text {
    text-align: center;
    padding-top: 16px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
}

.mavis-text-address {
   font-weight: 400;
}

.client-item3 {
    background: #E4B564;
}

.client-item4 {
    background: #635A4A
}

.client-item5 {
    background: #B08C4D
}

.client-item6 {
    background: #634F2C;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 80px 0 80px;
}
